* {
    margin: 0;
    padding: 0;
}

/* navbar */

/*.head .menu>ul>li>a{*/
/*    padding: 10px 25px;*/
/*    display: inline-block;*/
/*    color: orange;*/
/*    text-decoration: none;*/
/*    border-radius: 24px;*/
/*    border: 2px solid orange;*/
/*    transition: 0.4s linear;*/
/*    margin-right: 10px;*/
/*}*/

/*.head .menu>ul>li>a:hover {*/
/*    background: orange;*/
/*    color: #fff;*/
/*    border: 2px solid black;*/
/*}*/

/*Home*/

.home-page{
    color: black;
}

.home-page ul>li {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.home-page .head-section{
    background-color: rgb(32, 37, 42);
    margin-top: -25px;
}

.bg-back
{
    background-color: rgb(32, 37, 42);
}


.home-page .head-section .about-header-logo .img{
    width: auto;
    height: 125px;
}

.home-page .about-section{
    height: auto;
    margin-top: 50px;
}

.home-page .about-section .h4{
    line-height: 1.6;
}

.home-page .contact-section{
    height: 650px;
    margin-top: 50px;
}

.home-page .about-section .col-md-12 {
    margin: auto;
    position: relative;
}

.home-card {
    background-color: rgba(191, 9, 9, 0.9);
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px 0 25px 0;
}



/* Search */

.question-answer-box{
    display: block;
    margin: auto;
    position: -ms-device-fixed;
    width: auto;
    height: auto;
}

.question{
    margin: auto;
    align-items: center;
    width: 1000px;
    height: 75px;
}

.question .btn{
    text-align: center;
    width: 150px;
    height: 40px;
}

.answer{
    margin: auto;
    align-items: center;
    width: 1000px;
    min-height: 400px;
}

.answer {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* ----------------- membership  ------------------- */


.membership-package{

    padding: 75px 0;


}
.membership-package .membership-package-section{
    margin: auto;
    align-items: center;
    width: 1240px;
    height: 800px;

}
.membership-package .membership-package-section .package-header{
    background-color: black;
    color: orange;
    font-size: 22px;
}

.membership-package .membership-package-section .heading h1{
    text-align: center;
    text-shadow:3px 1px 15px rgb(122, 122, 122);
    font-size: 40px;
}

.membership-package .membership-package-section .columns{
    float: left;
    width: 360px;
    height: 700px;
    padding: 15px 0;
    margin: 15px 25px;

}

.membership-package .membership-package-section .columns .price{
    width: 380px;
    height: 610px;
    margin: 0;
    padding: 0;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    list-style-type: none;
    -webkit-transition: 0.3s;
    transition: 0.8s;
}

.membership-package .membership-package-section .columns .price:hover{
    box-shadow: 3px 10px 15px rgb(165, 165, 165);
}


.membership-package .membership-package-section .columns .price .container{
    background-color: #111;
    color: white;
    font-size: 25px;
}

.membership-package .membership-package-section .columns .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.membership-package .membership-package-section .columns .price .bottom-text-button{
    margin: auto;
    padding-bottom: 50px;
}

.membership-package .membership-package-section .columns .price .grey {
    background-color: #eee;
    font-size: 20px;
}

.membership-package .membership-package-section .columns .middle-line {
    width: 35px;
    border: 1px solid rgba(132, 138, 142, 0.93);
    height: 1px;
    margin-bottom: 5px;
    transform: rotate(90deg);
}

@media only screen and (max-width: 360px) {
    .columns {
        width: 1280px;
    }
}


.membership-package .membership-package-section .columns .price .button{
    width: 100px;
    height: 40px;
    background: #000000;
    border: 2px solid orange;
    color: orange;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 20px;
    text-decoration: none;

}

.membership-package .membership-package-section .columns .price .button:hover{
    border: 2px solid black;
    background: orange;
    color: white;
}


/* About */

.about-page {
    color: #101010;
    line-height: 10px;
}

.about-middle-line {
    border: 1px solid #909090;
    margin: 15px 0 15px 0;
}

.about-page ul>li {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 5px;
}

.home-card {
    margin: 10px;
}

/*Library*/

.container .row .form-control {
    padding-right: 25px;
}


/*All Coming soon*/

#coming-soon{
    text-align: center;
    margin: 20px 0 20px 0;
    height: 600px;
    font-size: 80px;
}


/* Login , Registration & Forget Password*/


/* Bordered form */
.login-box{
    justify-items: center;
    padding-top: 20px;
    top: 20%;
    left: 37%;
    position: absolute;
}

.form {
    width: 450px;
    height: auto;
    border: 3px solid #989898;
    border-radius: 5px;
}

.login-box .details-box h1{
    text-align: center;
    padding: 10px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="gender"],
input[type="number"],
input[type="address"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.login-btn:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this top-header */
.image {
    text-align: center;
    margin: 24px 0 12px 0;


}

/* Avatar image */
.image.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
}

/* Add padding to top-headers */
.details-box {
    padding: 16px;
}
.bottom-text-button{
    padding: 16px;
}
.bottom-text-button a{
    text-decoration: none;
}

/* The "Forgot password" text */
span.sign-up-btn {
    float: right;

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.sign-up-btn {
        display: block;
        float: none;
    }
}


/* footer Body */

.footer .footer-top-area {
    background-color: #1d1c1c;
    color: #999999;
    height: auto;
    width: 100%;
}
.footer .footer-top-area ul{}
.footer .footer-top-area ul>li {}
.footer .footer-top-area ul>li>a {
    text-decoration: none;
}

.footer .footer-bottom-area {
    background-color: #101010;
    color: #999999;
    height: auto;
    width: 100%;
}

/*ChatBox*/

.footer-right-right .chat-box{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Button used to open the chat form - fixed at the bottom of the page */
.footer-right .chat-box{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Button used to open the chat form - fixed at the bottom of the page */
.footer-right .chat-box .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.footer-right .chat-box .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.footer-right .chat-box .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.footer-right .chat-box .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.footer-right .chat-box .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.footer-right .chat-box .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.5;
}

.footer-right .chat-box .form-container .btn a{
    text-decoration: none;
}

/* Add a red background color to the cancel button */
.footer-right .chat-box .form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.footer-right .chat-box .form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
}




